In [26]:
# Libraries 
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Configuration
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
# pd.set_option('display.max_rows', None)

In [27]:
df = pd.read_csv('data/finanzas-hotel-bookings.csv', index_col=0)

/var/folders/dc/5lb7jh9x1d317m9p99y8hjm40000gn/T/ipykernel_26496/2578282623.py:1: DtypeWarning: Columns (1,2,5,13,14,15,16,20,21,26,30,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/finanzas-hotel-bookings.csv', index_col=0)

In [28]:
df.head(2)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
0,Resort Hotel,False,342.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,PRT,NaN,Direct,0.0,NaN,0.0,C,C,3.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
1,Resort Hotel,False,737.0,NaN,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,NaN,NaN,Direct,0.0,0.0,0.0,NaN,C,4.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN

In [29]:
# Drop column 0
df.drop(columns=['0'], inplace=True)

In [30]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'agent', 'company',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [31]:
# Filter rows where all values are NaN
df[df.isnull().all(axis=1)].shape

(63200, 31)

In [32]:
# Drop rows where all values are NaN
df = df.dropna(how='all')

In [33]:
# Filter rows where all values are NaN
df[df.isnull().all(axis=1)].shape

(0, 31)

In [34]:
# Filter df dropping the columns that had values while all the others are Nan
df_filt = df.drop(columns=['lead_time', 'stays_in_weekend_nights', 'stays_in_week_nights'])

In [35]:
# We store in a variable the indices of the rows where everything is NaN, except in those 3 columns (these are 100 rows, less than 1% of the total)
index = df_filt[df_filt.isnull().all(axis=1)].index

In [36]:
df.shape

(119677, 31)

In [37]:
# Drop the 100 rows filtering by index 
df.drop(index=index, inplace=True)

In [38]:
df.shape

(119577, 31)

In [39]:
df.arrival_date_month.value_counts()

arrival_date_month
August       13877
July         12661
May          11791
October      11160
April        11089
June         10939
September    10508
November      6794
December      6780
March         5922
February      4898
3             3872
January       3581
2             3170
1             2348
Name: count, dtype: int64

In [41]:
# Mapping dictionary to convert values from categoric to numeric
month_mapping = {
    'January': 1, 'February': 2, 'March': 3, 'April': 4, 'May': 5,
    'June': 6, 'July': 7, 'August': 8, 'September': 9, 'October': 10,
    'November': 11, 'December': 12, '1':1, '2':2, '3':3
}

# Apply the mapping dict to the month column
df.arrival_date_month = df.arrival_date_month.map(month_mapping).astype(float) # It has to be float because there are NaN values

In [42]:
df.arrival_date_month.value_counts()

arrival_date_month
8.0     13877
7.0     12661
5.0     11791
10.0    11160
4.0     11089
6.0     10939
9.0     10508
3.0      9794
2.0      8068
11.0     6794
12.0     6780
1.0      5929
Name: count, dtype: int64

In [43]:
df.adr.min()

-6.38

In [45]:
df.adr = abs(df.adr) # Convert values to absolute to correct the negative value

In [46]:
df.adr.min()

0.0

In [ ]:
# NOTA: Pendiente de decidir que hacemos con esa columna
# df.reservation_status_date = pd.to_datetime(df.reservation_status_date, errors='coerce')